.container{
    border: 2px solid salmon;
    display: flex;
}
.box{
    border: 2px dashed tomato;
    
    width: 100px;
    height: 100px;
}
nav{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
nav>div{

}